POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=grocery_delivery
POSTGRES_PORT=5432
AUTH_PORT=4001
CATALOG_PORT=4002
ORDERS_PORT=4003
FRONTEND_PORT=8080
JWT_SECRET=super_secret_jwt_key_12345
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin123
ADMIN_NAME=Администратор
ADMIN_ADDRESS=Склад FreshBox
STATE_MANAGER=redux
